services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    tty: true
    stdin_open: true
    depends_on:
      - mysql
    command: ["sleep", "infinity"]

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task
    ports:
      - "3306:3306"
    volumes:
      - mysql_blog:/var/lib/mysql

volumes:
  mysql_blog: